//IMPORTS *************************

@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Josefin+Sans:wght@600&display=swap');
@import "./colors.scss";

// MAIN STYLING =========================
body {
    margin:0;
  
  }

  // TEXT =========================

// h1 {
//     font-family: 'Inter', sans-serif;
//     color: white;
// }

// p {
//     font-family: 'Inter', sans-serif;
//     color: black;
// }

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: $maingold;
    background-color: transparent;
   
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    
  }
  
  a:active {
    color: $darkblue;
    background-color: transparent;
    
  }
.btn-btn-primary:hover {
    background-color: $maingold;  
}
// EDIT 

textarea {
    width: 280px;
    height: 100px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(236, 235, 235);
    border-color: $darkblue;

}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}

.edit-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-family: 'Inter', sans-serif;

   

}

.edit_button {
    padding-top: 20px;
    padding-bottom: 450px;
    display: flex;
    
    

    .btn-primary {
        a:visited {
            color: white;
        }
    }
}

.cancel_edit {
    margin-left: 20px;
}
// ====================
// CONTACTS 


.contacts-background {
    // background-image: radial-gradient(#2864FF,#132659,#2864FF 800px 20px);
    background-image: radial-gradient(#FFCF57,#ffdb80 500px 20px);
    padding-bottom: 100px;
    padding-top: 60px;

}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    font-family: 'Inter', sans-serif;
    border: 1px;
    border-style: solid ;
    border-radius: 10px;
    background-color: white;
    color: $darkblue;
    .btn-success {
        width: 100px;
        height: 40px;
    }
}
// ==================
// FOOTER 

.footer-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background-color: $darkblue;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: xx-small;
    text-align: center;
    p {
        margin-bottom: 0;
        padding-bottom: 10px;
    }

}
// =================

// DRILLS

.drill_notes {
    white-space: wrap;
    padding-top: 10px;
}

textarea {
    width: 280px;
    height: 100px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(236, 235, 235);
    border-color: $darkblue;

  
}

.drill_buttons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 50px;

  .btn-warning {
      width: 120px;
      margin-left: 10px;
      margin-right: 10px;
      font-family: 'Inter', sans-serif;
      opacity: .7;
  }

  .btn-primary{
      width: 120px;
      margin-left: 10px;
      margin-right: 10px;
  }
}

.drills_top_container {
  margin-top: 70px;
}

.drills_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.drills_title_container {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    // align-items: center;
    color: white;
    border: transparent;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    background-image: radial-gradient(#132659,#2864FF 200%);
    font-size: small;
    // text-align: left;
    width: 300px;
}
.drills_container {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // align-items: center;
    // color: $darkblue;
    border: black 1px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px;
    // background-color:#FFCF57;
    font-size: small;
    text-align: left;
    width: 300px;
  
}
// =======================

// LOGIN 


.login-button-contain {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .btn-primary {
        background-color: $maingold;
        color: black;
        width: 280px;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-control:focus {
        border-color: $maingold;
    }
}
.login-main {
    background-image: radial-gradient(#2864FF,#132659,#2864FF 800px 20px);
    padding-bottom: 350px;
    padding-top: 150px;

}

.login-logo-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: white;
    padding-bottom: 10px;
    
}

.login-logo {
    width: 200px;
    
}
// =======================

// DRILL FORM

.timer_note {
    display: flex;
    justify-content: center;
    font-size: x-small;
    font-style: italic;
    padding-top: 20px;
}

.drill_progress {
    display: flex;
    justify-content: center;
    color: $darkblue;
    border: transparent;
    border-style: solid;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color:#FFCF57;
    font-size: small;
    width: 280px;
    

    
}

.drill_progress_contain {
    display: flex;
    justify-content: center;
    
    
}

.save-drill {
    display: flex;
    justify-content: center;
   .btn-primary {
    width: 280px;
    height: 50px;
   }
    .btn-primary:hover {
        background-color: #198754;
        transition: .2s;
       
        }
}

.cancel-drill {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;

    a{
        color: white;
    }
        .btn-primary {
            width: 280px;
            height: 50px;
        }
}


.start_drill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

.form-control {
    width: 280px;
}

.lights_checked {
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
    
}

.notes-contain {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    
}

.checkbox-contain {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.reset {
    padding-left: 5px;
    padding-right: 5px;

    .btn-secondary {
        height: 50px;
        box-shadow: black 0px 2px 5px 0px;
    }
    
}

.btn-success {
    box-shadow: black 0px 2px 5px 0px;
    font-family: 'Inter', sans-serif;
    width: 100px; 
    height: 50px;
      
}

.btn-danger {
    box-shadow: black 0px 2px 5px 0px;
    font-family: 'Inter', sans-serif;
    width: 100px;
    height: 50px;
    
}
.stopwatch-container {
    padding-top: 75px;
    font-family: 'Inter', sans-serif;
}

.form-notes {
    font-family: 'Inter', sans-serif;
    padding: 0px 5px;
    padding-top: 5px;
}

.timer-buttons-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
// ====================

// HOME 


.greeting {
    padding-top: 175px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.greeting-home-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    border-style: solid;
    border-radius: 10px;
    padding-top: 10px;
    background-color: white;
    box-shadow: black 0px 2px 5px 0px;
    width: 280px;
    
}

.current_weather {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  color: $darkblue;
  opacity: 0.50;
  p {
      padding-top: 15px;
  }
}

div.weather-card {
    
    // font-size: xx-small;
    display: flex;
    flex-direction: row;
    // margin: 20px;
    font-family: 'Inter', sans-serif;
    opacity: 0.85;
    

}
img {
    width: 50px;
    opacity: 0.85;
}

.temp{
    padding-left: 10px;
    opacity: 0.85;
    
}

.get_user {
    color:black;
    font-size: xx-small;
    font-family: 'Inter', sans-serif;
    margin-left: 25px;
    margin-top: 5px;
}

.get_user_home {
    color: $darkblue;
    font-family: 'Inter', sans-serif; 
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.home-greeting {
    color: $darkblue;
    font-size: small;
    font-family: 'Inter', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    
}

.span {
    font-family: 'Inter', sans-serif; 
}

.zkhool-header {
    display: flex;
    justify-content: center;
    padding-top: 95px;
}

.zkhool-logo {
    width: 90px;

}

.btn-primary {
    background-color: $darkblue;
    border-color: transparent;
    box-shadow: black 0px 2px 5px 0px;
    font-family: 'Inter', sans-serif;
}

.btn-primary:hover {
    background-color: $mainblue;
    transition: .1s;

}

.drill-type-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 60px;
    font-size: large;
    font-family: 'Inter', sans-serif; 
    
}

.drill-type-buttons-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: $darkblue;
}


// ===================

// NAVBAR
@media only screen and (max-width: 768px ) { 

    .navbar-dark
    { 
        .navbar-nav {

        .nav-link {
            color: $maingold;
        }
    }}

.nav {
     background-color: $mainblue;
     box-shadow: 0 20px 60px -40px rgb(44, 43, 43);
}

.nav-header {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
    color: white;

    a {
        color: white;
        font-size: xx-large;
        .nav-header:hover {
            color: $maingold;
            transition: 5ms;
        }
    }

}

.navbar-toggler {
    border: none !important;
    
}

.user_weather {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    justify-content:center;
}

.navcontain {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}}