//IMPORTS *************************

@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Josefin+Sans:wght@600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:wght@600&display=swap');
@import "./colors.scss";

// MAIN STYLING =========================
body {
    margin:0;
  
  }

  // TEXT =========================

// h1 {
//     font-family: 'Inter', sans-serif;
//     color: white;
// }

// p {
//     font-family: 'Inter', sans-serif;
//     color: black;
// }

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: $maingold;
    background-color: transparent;
   
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    
  }
  
  a:active {
    color: $darkblue;
    background-color: transparent;
    
  }
// CONTACTS 


.contacts-background {
    background-image: radial-gradient(#2864FF,#132659,#2864FF 800px 20px);
    padding-bottom: 100px;
    padding-top: 150px;

}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 20px;
    font-family: 'Inter', sans-serif;
    border: 1px;
    border-style: solid ;
    border-radius: 10px;
    background-color: white;
    color: $darkblue;
    .btn-success {
        width: 75px;
        height: 40px;
    }
}
// ==================
// FOOTER 

.footer-content {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: xx-small;
    // margin-top: 20px;
    padding-top: 10px;
    margin-bottom: none;
    background-color: $darkblue;
    color: white;

}
// =================
// DRILLS

.drill_buttons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 10px;

  .btn-primary{
      width: 140px;
    //   padding-right: 40px;
    //   padding-left: 40px;
      margin-left: 10px;
      margin-right: 10px;
  }
}

.drills_top_container {
  margin-top: 140px;
}

.drills_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.drills_title_container {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    // align-items: center;
    color: white;
    border: transparent;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 20px;
    background-image: radial-gradient(#132659,#2864FF 200%);
    font-size: small;
    // text-align: left;
    width: 300px;
    line-height: 1px;
}
.drills_container {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // align-items: center;
    color: $darkblue;
    border: black 1px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    // background-color:#FFCF57;
    font-size: small;
    text-align: left;
    min-width: 300px;
    line-height: 5px;
}
// =======================

// LOGIN 


.login-button-contain {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .btn-primary {
        background-color: $maingold;
        color: black;
        width: 280px;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-control:focus {
        border-color: $maingold;
    }
}
.login-main {
    background-image: radial-gradient(#2864FF,#132659,#2864FF 800px 20px);
    padding-bottom: 350px;
    padding-top: 150px;

}

.login-logo-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: white;
    padding-bottom: 10px;
    
}

.login-logo {
    width: 200px;
    
}
// =======================

// DRILL FORM

.timer_note {
    display: flex;
    justify-content: center;
    font-size: x-small;
    font-style: italic;
    padding-top: 20px;
}

.drill_progress {
    display: flex;
    justify-content: center;
    color: $darkblue;
    border: transparent;
    border-style: solid;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color:#FFCF57;
    font-size: small;
    width: 280px;
    

    
}

.drill_progress_contain {
    display: flex;
    justify-content: center;
    
    
}

.save-drill {
    display: flex;
    justify-content: center;
        .btn-primary {
            width: 280px;
            height: 50px;
        }
}

.cancel-drill {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;

    a{
        color: white;
    }
        .btn-primary {
            width: 280px;
            height: 50px;
        }
}


.start_drill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    
}

.form-control {
    width: 280px;
}

.lights_checked {
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
    
}
.notes-contain {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.checkbox-contain {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.reset {
    padding-left: 5px;
    padding-right: 5px;

    .btn-secondary {
        height: 50px;
        box-shadow: black 0px 2px 5px 0px;
    }
    
}

.btn-success {
    box-shadow: black 0px 2px 5px 0px;
    font-family: 'Inter', sans-serif;
    width: 100px; 
    height: 50px;
      
}

.btn-danger {
    box-shadow: black 0px 2px 5px 0px;
    font-family: 'Inter', sans-serif;
    width: 100px;
    height: 50px;
    
}
.stopwatch-container {
    padding-top: 75px;
    font-family: 'Inter', sans-serif;
}

input {
    font-family: 'Inter', sans-serif;
}

.timer-buttons-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
// ====================

// HOME 
.greeting {
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.greeting-home-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    border-style: solid;
    border-radius: 10px;
    padding-top: 10px;
    background-color: white;
    box-shadow: black 0px 2px 5px 0px;
    width: 280px;
    
}

div.weather-card {
    color: $maingold;
    font-size: xx-small;

}

.get_user {
    color: $maingold;
    font-size: xx-small;
}

.get_user_home {
    color: $darkblue;
    font-family: 'Inter', sans-serif; 
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.home-greeting {
    color: $darkblue;
    font-size: small;
    font-family: 'Inter', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
}

.span {
    font-family: 'Inter', sans-serif; 
}

.zkhool-header {
    display: flex;
    justify-content: center;
    padding-top: 95px;
}

.zkhool-logo {
    width: 90px;

}

.btn-primary {
    background-color: $darkblue;
    border-color: transparent;
    box-shadow: black 0px 2px 5px 0px;
    font-family: 'Inter', sans-serif;
    
}

.btn-primary:hover {
    background-color: $mainblue;
    transition: 1s;
}

.drill-type-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 60px;
    font-size: large;
    font-family: 'Inter', sans-serif; 
    
}

.drill-type-buttons-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: $darkblue;
}
.home-to-footer {
    padding-bottom: 110px;
} 

// ===================

// NAVBAR
@media only screen and (max-width: 768px ) { 

.nav {
     background-color: $mainblue;
}

.nav-header {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
    color: white;

}

.navbar-toggler {
    border: none !important;
    
}

// .navbar-toggler-icon {
//     border: none !important;
    
// }

// .navbar-collapse {
   
//     border: none !important;
// }


.nav-link {
    display: flex;
    justify-content:center;
}

.navcontain {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}}